<div class="jumbotron center">
  <div class="container">
    <h1>Welcome to MyRecipes App</h1>
    <h2>This is the homepage for the most amazing website ever made!</h2>
    <%= link_to 'Sign up now!', '', class: 'btn btn-lg btn-success' %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h3 class="midrow">
        View Recipies As Guest User
      </h3>
      <h2 class="left">Browse and view recipes as a guest and sign up later</h2>
      <p><%= link_to "Browse Recipe Lisitings", "", class: "btn btn-warning btn-small" %></p>
    </div>
    <div class="col-lg-4">
      <h3 class="midrow">
        View Recipies As Guest User
      </h3>
      <h2 class="left">Browse and view recipes as a guest and sign up later</h2>
      <p><%= link_to "Browse Recipe Lisitings", "", class: "btn btn-warning btn-small" %></p>
    </div>
    <div class="col-lg-4">
      <h3 class="midrow">
        View Recipies As Guest User
      </h3>
      <h2 class="left">Browse and view recipes as a guest and sign up later</h2>
      <p><%= link_to "Browse Recipe Lisitings", "", class: "btn btn-warning btn-small" %></p>
    </div>
  </div>
  
</div>
